<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"> 

    <title>중국 직구 대행 쇼핑몰</title>

    <style> 
        
        
        .card {
            display:inline-block;
            margin-left: 10px;
            margin-top: 10px;
        }

        .card-img-top {
            height: 100px;
        }

        #nav_menu ul {

          list-style-type:none;
          padding-left:0px;
          float:right;

        }

        #nav_menu ul li {

          display:inline;
          border-left: 1px solid #c0c0c0;  
          padding: 0px 10px 0px 10px;
          margin: 5px 0px 5px 0px;
          font-size:0.7em;

        }

        #nav_menu ul li:first-child {

          border-left:none;

        }

        .carousel { 

          width: 900px;
          margin-left:180px;
          margin-top:10px;
        
        }


        .navb ul {

          list-style-type:none;
          padding-left:0px;
          float:center;

        }

        .navb ul li {

          display:inline;
          border-left: 1px solid #c0c0c0;  
          padding: 0px 10px 0px 10px;
          margin: 5px 0px 5px 0px;
          font-size:0.7em;

        }

        .navb ul li:first-child {

          border-left:none;

        }

    </style>

  </head>

  <body>

    <div class="d-flex text-right justify-content-end" id="nav_menu">

      <ul>

        <li><a href="http://115.85.180.66:8000/logout" target="_self"><span style="color:#212529;">로그아웃</span></a></li>
        
        <li><a href="http://115.85.180.66:8000/signup" target="_self"><span style="color:#212529;">정보수정</span></a></li>
        
        <li>이용안내</li>
        
        <li>고객센터</li>
        
        <li>예치금충전</li>
        
      </ul>
      
    </div>

    <div class='d-flex'>

      <div style="margin-left:500px;">
        <h1><img src="static/rainbow.png" width=150 height=80>중국 직구 대행 쇼핑몰 <span style="font-size:1.2em;">FUFU</span></h1>
    </div>

    </div>

    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://115.85.180.66:8000" target="_self">FUFU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">배송대행</a>
            <a class="nav-link" href="#">구매대행</a>
            <a class="nav-link" href="#">이용안내</a>
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="background-color:orange;"><img src="static/icon-human.png"> 마이페이지</a>
          </div>
        </div>
      </nav>

        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="float:left;">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/carousel.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/carousel2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="form-group1" style= "text-align:center; float:left; border:3px solid gold; margin-top:10px; margin-left:1px; width:25%; border-radius:15px; height:402.32px;">
          <h2 style="margin-left:10px; margin-right:10px; color:gold; border-bottom:1px solid gold;">로그인 성공</h2>
          <span>안녕하세요, {{ message }}님</span>
		  <img src="static/rose2.jpg" style="width: 350px; height: 250px;"><br>
		  <span>장바구니</span>&nbsp&nbsp <span>비밀번호 변경</span>
		  <button type="button" class="btn btn-warning btn-lg btn-block"><a href= "http://115.85.180.66:8000/logout"><span style="color:white">로그아웃</span></a></button>
        </div>
          
        <div style="clear:both;"></div>

      <div class="card" style="width: 20rem; margin-left:180px;">
        <img src="static/alibaba-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">알리바바</h5>
          <p class="card-text">알리바바 닷컴은 B2B 온라인 쇼핑몰로, 중국의 제품을 전 세계 기업들이 구매할 수 있도록 중개해 줍니다.</p>
          <a href="https://www.alibaba.com/" target="blank" class="btn btn-warning">사이트 이동</a>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="static/1688-logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">1688</h5>
          <p class="card-text">1688은 중국 내수 도소매 사이트로, 중국 제품을 현지 가격 그대로 살 수 있습니다.</p>
          <a href="https://www.1688.com/" target="blank" class="btn btn-warning">사이트 이동</a>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="static/taobao-logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">타오바오</h5>
          <p class="card-text">타오바오(淘宝网)는 중국의 온라인 쇼핑 웹사이트로, 알리바바 그룹이 운영하는 오픈 마켓입니다.</p>
          <a href="https://world.taobao.com/" target="blank" class="btn btn-warning">사이트 이동</a>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="static/tmall-logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TMALL</h5>
          <p class="card-text">티몰은 중국에서 알리바바 그룹이 운영하는 Taobao 에서 분리 된 B2C 온라인 쇼핑몰 웹사이트입니다 .</p>
          <a href="https://www.tmall.com/" target="blank" class="btn btn-warning">사이트 이동</a>
        </div>
      </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <div class="p-3 navv w-100 text-center">구매대행 <span style="color:red;">아이템 BEST!</span></div>

    <table id = "mytable" align="center" cellpadding=0 width=500 style="text-align:center; margin-bottom:10px;" border=1>
        <tr style="background-color:orange; height:50px; color:white;">
            <td>생활/잡화</td>
            <td>스포츠/레저</td>
            <td>악세서리</td>
            <td>패션/의류</td>
            <td>디지털가전</td>
        </tr>

        <tr>
            <td><a href="https://www.tmall.com/" target="_blank"><img src="static/airpotcase.jpg" width=200px; height=200px;></a>
                <a href="https://www.tmall.com/" target="_blank"><div style="color:black;">에어팟 케이스</div></a>
                <a href="https://www.tmall.com/" target="_blank"><div style="color:orange">10.00 CNY</div></a>
            </td>

            <td><a href="https://detail.1688.com/offer/520401767756.html?spm=a262eq.12572798.jsczf959.8.5fc32fb1MlAtWK" target="_blank"><img src="static/workout1.jpg" width=200px; height=200px;></a>
                <a href="https://detail.1688.com/offer/520401767756.html?spm=a262eq.12572798.jsczf959.8.5fc32fb1MlAtWK" target="_blank"><div style="color:black;">아령세트</div></a>
                <a href="https://detail.1688.com/offer/520401767756.html?spm=a262eq.12572798.jsczf959.8.5fc32fb1MlAtWK" target="_blank"><div style="color:orange">3.80~57.00 CNY</div></a>
            </td>

            <td><a href="https://detail.1688.com/offer/586789192875.html?spm=a360q.7751291.0.0.70f33138r4o606" target="_blank"><img src="static/accessary.jpg" width=200px; height=200px;></a>
                <a href="https://detail.1688.com/offer/586789192875.html?spm=a360q.7751291.0.0.70f33138r4o606" target="_blank"><div style="color:black;">악세서리 귀걸이</div></a>
                <a href="https://detail.1688.com/offer/586789192875.html?spm=a360q.7751291.0.0.70f33138r4o606" target="_blank"><div style="color:orange">5.80 CNY</div></a>
            </td>

            <td><a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.47.511527cee8Hufr&id=591612261533&ns=1&abbucket=19" target="_blank"><img src="static/fashion1.jpg" width=200px; height=200px;></a>
                <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.47.511527cee8Hufr&id=591612261533&ns=1&abbucket=19" target="_blank"><div style="color:black;">여름 커플 친자룩</div></a>
                <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.47.511527cee8Hufr&id=591612261533&ns=1&abbucket=19" target="_blank"><div style="color:orange">159.00 CNY</div></a>
            </td>

            <td><a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.15.471d2e49GkEKOC&id=584707932859&ns=1&abbucket=19&skuId=3957423757818" target="_blank"><img src="static/digital1.jpg" width=200px; height=200px;></a>
                <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.15.471d2e49GkEKOC&id=584707932859&ns=1&abbucket=19&skuId=3957423757818" target="_blank"><div style="color:black;">샤오미 에어컨</div></a>
                <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.15.471d2e49GkEKOC&id=584707932859&ns=1&abbucket=19&skuId=3957423757818" target="_blank"><div style="color:orange">1599.00 CNY</div></a>
        </tr>

        <tr>
          <td><a href="https://world.taobao.com/item/593164487818.htm?spm=a21wu.10013406-tw.0.0.6d18628etNF3Nf" target="_blank"><img src="static/life2.gif" width=200px; height=200px;></a>
              <a href="https://world.taobao.com/item/593164487818.htm?spm=a21wu.10013406-tw.0.0.6d18628etNF3Nf" target="_blank"><div style="color:black;">애견용품 강아지옷</div></a>
              <a href="https://world.taobao.com/item/593164487818.htm?spm=a21wu.10013406-tw.0.0.6d18628etNF3Nf" target="_blank"><div style="color:orange">10.00 CNY</div></a>
          </td>

          <td><a href="https://detail.1688.com/offer/531197264212.html?spm=a261y.7663282.autotrace-offerDetailContext1.7.731d2e12oZE0L5&sk=" target="_blank"><img src="static/twogirls.jpg" width=200px; height=200px;></a>
              <a href="https://detail.1688.com/offer/531197264212.html?spm=a261y.7663282.autotrace-offerDetailContext1.7.731d2e12oZE0L5&sk=" target="_blank"><div style="color:black;">여성 실크잠옷</div></a>
              <a href="https://detail.1688.com/offer/531197264212.html?spm=a261y.7663282.autotrace-offerDetailContext1.7.731d2e12oZE0L5&sk=" target="_blank"><div style="color:orange">29.00 CNY</div></a>
          </td>

          <td><a href="https://detail.1688.com/offer/577685606896.html?spm=b26110380.sw1688.mof001/cbu_ab---392-2.1.4e3d69f5MjubQT" target="_blank"><img src="static/tissue.jpg" width=200px; height=200px;></a>
              <a href="https://detail.1688.com/offer/577685606896.html?spm=b26110380.sw1688.mof001/cbu_ab---392-2.1.4e3d69f5MjubQT" target="_blank"><div style="color:black;">인테리어 휴지통</div></a>
              <a href="https://detail.1688.com/offer/577685606896.html?spm=b26110380.sw1688.mof001/cbu_ab---392-2.1.4e3d69f5MjubQT" target="_blank"><div style="color:orange">35.00 CNY</div></a>
          </td>

          <td><a href="https://detail.1688.com/offer/593791087890.html?spm=a261y.7663282.hotsale.6.5a79594fUgeWnB" target="_blank"><img src="static/groot.jpg" width=200px; height=200px;></a>
              <a href="https://detail.1688.com/offer/593791087890.html?spm=a261y.7663282.hotsale.6.5a79594fUgeWnB" target="_blank"><div style="color:black;">미니화분</div></a>
              <a href="https://detail.1688.com/offer/593791087890.html?spm=a261y.7663282.hotsale.6.5a79594fUgeWnB" target="_blank"><div style="color:orange">8.00 CNY</div></a>
          </td>

          <td><a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.36.3ccb71f1vLYEu7&id=582945032727&ns=1&abbucket=20" target="_blank"><img src="static/gaseup.jpg" width=200px; height=200px;></a>
              <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.36.3ccb71f1vLYEu7&id=582945032727&ns=1&abbucket=20" target="_blank"><div style="color:black;">미니 가습기</div></a>
              <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.36.3ccb71f1vLYEu7&id=582945032727&ns=1&abbucket=20" target="_blank"><div style="color:orange">29.00 CNY</div></a>
      </tr>

      <tr>
        <td><a href="https://detail.1688.com/offer/575679483586.html?spm=a260j.12536084.jr91vrik.57.18ce2822o8Oz04&scm=1007.21332.114662.0" target="_blank"><img src="static/bag.jpg" width=200px; height=200px;></a>
            <a href="https://detail.1688.com/offer/575679483586.html?spm=a260j.12536084.jr91vrik.57.18ce2822o8Oz04&scm=1007.21332.114662.0" target="_blank"><div style="color:black;">다용도 수납 가방</div></a>
            <a href="https://detail.1688.com/offer/575679483586.html?spm=a260j.12536084.jr91vrik.57.18ce2822o8Oz04&scm=1007.21332.114662.0" target="_blank"><div style="color:orange">5.00~24.00 CNY</div></a>
        </td>

        <td><a href="https://detail.1688.com/offer/538137774331.html?spm=a261y.7663282.autotrace-offerDetailContext1.12.2a9d3953LoansP&sk=" target="_blank"><img src="static/drawser.jpg" width=200px; height=200px;></a>
            <a href="https://detail.1688.com/offer/538137774331.html?spm=a261y.7663282.autotrace-offerDetailContext1.12.2a9d3953LoansP&sk=" target="_blank"><div style="color:black;">대형 수납박스</div></a>
            <a href="https://detail.1688.com/offer/538137774331.html?spm=a261y.7663282.autotrace-offerDetailContext1.12.2a9d3953LoansP&sk=" target="_blank"><div style="color:orange">7.55~43.12 CNY</div></a>
        </td>

        <td><a href="https://detail.1688.com/offer/567767651255.html?spm=a262eq.12572798.jsczf959.47.c2442fb1dcnMT2" target="_blank"><img src="static/car.jpg" width=200px; height=200px;></a>
            <a href="https://detail.1688.com/offer/567767651255.html?spm=a262eq.12572798.jsczf959.47.c2442fb1dcnMT2" target="_blank"><div style="color:black;">자동차 허리 받침</div></a>
            <a href="https://detail.1688.com/offer/567767651255.html?spm=a262eq.12572798.jsczf959.47.c2442fb1dcnMT2" target="_blank"><div style="color:orange">42.00 CNY</div></a>
        </td>

        <td><a href="https://detail.1688.com/offer/38921238290.html?spm=a261y.7663282.1998411376.2.79d72c7dmKmoWO&scm=1007.19151.114112.0" target="_blank"><img src="static/big.jpg" width=200px; height=200px;></a>
            <a href="https://detail.1688.com/offer/38921238290.html?spm=a261y.7663282.1998411376.2.79d72c7dmKmoWO&scm=1007.19151.114112.0" target="_blank"><div style="color:black;">포장 설비 기기</div></a>
            <a href="https://detail.1688.com/offer/38921238290.html?spm=a261y.7663282.1998411376.2.79d72c7dmKmoWO&scm=1007.19151.114112.0" target="_blank"><div style="color:orange">58000.00 CNY</div></a>
        </td>

        <td><a href="https://detail.1688.com/offer/589001314574.html?spm=a262eq.12572798.jsczf959.15.71e12fb156VHNz" target="_blank"><img src="static/tools.jpg" width=200px; height=200px;></a>
            <a href="https://detail.1688.com/offer/589001314574.html?spm=a262eq.12572798.jsczf959.15.71e12fb156VHNz" target="_blank"><div style="color:black;">공구세트</div></a>
            <a href="https://detail.1688.com/offer/589001314574.html?spm=a262eq.12572798.jsczf959.15.71e12fb156VHNz" target="_blank"><div style="color:orange">269.00 CNY</div></a>
    </tr>
    </table>
    
    <div class="p-1 navb bg-secondary text-white w-100 text-center">
      <ul>

        <li><a href="http://115.85.180.66:8000" target="_self"><span style="color:white;">HOME</span></a></li>
        
        <li><a href="#"><span style="color:white;">회사소개</span></a></li>
        
        <li><span>이용약관</span></li>
        
        <li>개인정보 처리방침</li>
        
        <li>고객만족센터</li>
        
      </ul>

    </div>
    

  </body>
</html>


